In [27]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.5)

In [ ]:
# RDD --> Resiliant Distributed DataSet!

# create RDD in pyspark

####  pyspark.session: It is an entry point to underlying PySpark functionality in order to programmatically create PySpark RDD, DataFrame

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [ ]:
rdd = spark.sparkContext.parallelize([("Mumbai",1),('Delhi',2),('Chennai',3)])

In [ ]:
rdd

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:274

In [ ]:
rdd.collect()

[('Mumbai', 1), ('Delhi', 2), ('Chennai', 3)]

In [ ]:
rdd.count()

3

# create a dataframe from RDD

In [ ]:

from datetime import date, datetime

In [ ]:
# create a rdd
rdd_1 = spark.sparkContext.parallelize([
    (1,1.0,'string1', date(2021,1,1), datetime(2021,1,1,12,0)),
    (2,2.0,'string1', date(2021,2,1), datetime(2021,1,2,12,0)),
    (3,3.0,'string1', date(2021,3,1), datetime(2021,1,3,12,0))
])

In [ ]:
rdd_1 # prints that a rdd is formed but the data is not shown in the output

ParallelCollectionRDD[2] at readRDDFromFile at PythonRDD.scala:274

In [ ]:
rdd_1.collect() # .collect() shows the output of the rdd and its shown below!

[(1,
  1.0,
  'string1',
  datetime.date(2021, 1, 1),
  datetime.datetime(2021, 1, 1, 12, 0)),
 (2,
  2.0,
  'string1',
  datetime.date(2021, 2, 1),
  datetime.datetime(2021, 1, 2, 12, 0)),
 (3,
  3.0,
  'string1',
  datetime.date(2021, 3, 1),
  datetime.datetime(2021, 1, 3, 12, 0))]

In [ ]:
df = spark.createDataFrame(rdd_1, schema=['number','float_num','string','date','datetime']) # creating a dataframe from rdd

In [ ]:
df.show()

+------+---------+-------+----------+-------------------+
|number|float_num| string|      date|           datetime|
+------+---------+-------+----------+-------------------+
|     1|      1.0|string1|2021-01-01|2021-01-01 12:00:00|
|     2|      2.0|string1|2021-02-01|2021-01-02 12:00:00|
|     3|      3.0|string1|2021-03-01|2021-01-03 12:00:00|
+------+---------+-------+----------+-------------------+

In [ ]:
df.printSchema()

root
 |-- number: long (nullable = true)
 |-- float_num: double (nullable = true)
 |-- string: string (nullable = true)
 |-- date: date (nullable = true)
 |-- datetime: timestamp (nullable = true)